{% extends "base.html" %}
{% block content %}

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4">Bienvenido, <span>{{ usuario }}</span>!</h2>
                        <p class="text-center">Gracias por iniciar sesión en nuestra aplicación.</p>
                        <div class="d-flex justify-content-center mt-4">
                            <a href="/home" class="btn btn-primary me-2">Ir a comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}