{% extends "base.html" %}
{% block content %}
<main class="container mt-4">
    <h1>Productos en la categoría: {{ nombreCategoria }}</h1>
    <div class="row mt-4">
        {% if productos.length == 0 %}
            <p class="text-muted">No se encontraron productos en esta categoría.</p>
        {% else %}
            {% for producto in productos %}
                <div class="col-md-3 mb-4 d-flex">
                    <div class="card product-card h-100 w-100">
                        <img src="{{ producto.image }}" class="card-img-top" alt="{{ producto.title }}">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <h5 class="card-title">{{ producto.title }}</h5>
                            <p class="card-text text-truncate" style="max-width: 250px;">{{ producto.description }}</p>
                            <p class="card-text font-weight-bold">{{ producto.price }}€</p>
                            <a href="/producto/{{ producto._id }}" class="btn btn-primary">Ver detalles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <a href="/home" class="btn btn-secondary mt-4">Volver a la página principal</a>
</main>
{% endblock %}
