{% extends "base.html" %}
{% block content %}
<main class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ producto.image }}" class="img-fluid" alt="productos">
        </div>
        <div class="col-md-6">
            <h1>{{ producto.title }}</h1>
            <p>{{ producto.description }}</p>
            <p class="lead" style = "font-size: 25px;" ><strong>{{ producto.price }}€</strong></p>
            <p>
                {% if producto.rating.rate %}
                  {% for i in range(1, 6) %}
                    <i class="bi bi-star{{ '-fill' if producto.rating.rate >= i else '' }}" style="color: #FFD700; font-size: 25px;" ></i>
                  {% endfor %}
                {% else %}
                  No tiene ratings
                {% endif %}
              </p>                          
                <input type="hidden" name="productoId" value="{{ producto._id }}">
                <button type="submit" class="btn btn-primary btn-lg">Añadir al carrito</button>
            </form>
        </div>
    </div>
    
</main>
{% endblock %}