{% extends "base.html" %}
{% block content %}
<main class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ producto.image }}" class="img-fluid" alt="productos">
    </div>
    <div class="col-md-6">
      <h1>{{ producto.title }}</h1>
      <p>{{ producto.description }}</p>
      <p class="lead" style="font-size: 25px;"><strong>{{ producto.price }}€</strong></p>
      <!-- <p>
                {% if producto.rating.rate %}
                  {% for i in range(1, 6) %}
                    <i class="bi bi-star{{ '-fill' if producto.rating.rate >= i else '' }}" style="color: #FFD700; font-size: 25px;" ></i>
                  {% endfor %}
                {% else %}
                  No tiene ratings
                {% endif %}
              </p>  -->

      <!-- Input oculto con el ID del producto -->
      <input type="hidden" id="product-id" value="{{ producto._id }}">
      <!-- Input oculto con el conteo de votos actual -->
      <input type="hidden" id="product-count" value="{{ producto.rating.count }}">
      <!-- Input oculto con el rate actual -->
      <input type="hidden" id="product-rate" value="{{ producto.rating.rate }}">
      {% if producto.myRating %}
      <!-- Input oculto con mi rating -->
      <input type="hidden" id="product-my-rating" value="{{ producto.myRating }}">
      {% endif %}

      <!-- Aquí se mostrarán las estrellas del rating actual -->
      <p id="current-rating">
        {% if producto.rating.rate %}
        {% for i in range(1, 6) %}
        <i class="bi bi-star{{ '-fill' if producto.rating.rate >= i else '' }}" style="color: #FFD700; font-size: 25px;"
          data-id="{{ producto._id }}" data-star="{{ i }}"></i>
        {% endfor %}
        <span> ({{ producto.rating.count }}) </span>
        {% else %}
        No tiene ratings
        {% endif %}
      </p>

      <!-- Aquí se mostrarán las estrellas de mi rating -->
      {% if usuario_autenticado %}
      <p id="my-rating" class="stars">
        <span> Mi rating: </span>
        {% for i in range(1, 6) %}
        <i class="bi bi-star{{ '-fill' if producto.myRating >= i else '' }}" style="color: #FFD700; font-size: 25px;"
          data-id="{{ producto._id }}" data-star="{{ i }}"></i>
        {% endfor %}
      </p>
      {% endif %}

      <form action="/anadir-al-carrito" method="POST">
        <input type="hidden" name="productoId" value="{{ producto._id }}">
        <button type="submit" class="btn btn-primary btn-lg">Añadir al carrito</button>
      </form>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const productId = document.getElementById('product-id').value; // ID del producto
      const starsContainer = document.getElementById('current-rating'); // Contenedor de las estrellas
      const stars = document.getElementsByClassName("stars")[0];
      const myStarsContainer = document.getElementById('my-rating');

      console.log({
        productId,
        starsContainer,
        stars, myStarsContainer
      })

      function renderStars(container, rating, productId, params) {
        let starsHtml = container.id === 'my-rating' ? "<span> Mi rating: </span>" : '';
        for (let i = 1; i <= 5; i++) {
          starsHtml +=
          `<i class="bi bi-star${i <= rating ? '-fill' : ''}"
              style="color: #FFD700; font-size: 25px; cursor: pointer;"
              data-star="${i}"
              data-id="${productId}">
            </i>`;
        }
        starsHtml += container.id === 'current-rating' ?
        `<span> (${params.newCount}) </span>`
          : '';
        container.innerHTML = starsHtml;
        if (container.id === 'my-rating') {
          container.querySelectorAll('i').forEach(star => {
            star.addEventListener('click', Vota);
          });
        }
      }

      function Vota(evt) {
        console.log('evt', evt);
        const productId = evt.target.dataset.id;
        const newRating = evt.target.dataset.star;
        const oldRating = parseFloat(document.getElementById('product-rate').value);
        const oldCount = parseFloat(document.getElementById('product-count').value);
        const myRating = parseFloat(document.getElementById('product-my-rating').value);
        let newExpectedRating = 0;
        let newCount = oldCount;
        if (myRating === -1) {
          // primera vez que voto
          newCount++;
        }
        newExpectedRating = ((oldRating  * oldCount) - Math.max(myRating, 0) + newRating) / newCount;

        renderStars(starsContainer, newExpectedRating, productId, {
          newCount,
        });
        renderStars(myStarsContainer, newExpectedRating, productId, {
          newCount,
        });

        fetch(`/api/ratings/${productId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer '
          },
          body: JSON.stringify({ newRate: newRating }),
        })
          .then((data) => {
            if (!data.ok) {
              throw new Error(`Petición fallida: codigo ${data.status}`)
            } 

            return data.json();
          })
          .then((response) => {
            console.log('Calificación actualizada:', response);
          })
          .catch((err) => {
            console.error('Error al actualizar la calificación:', err);
            renderStars(starsContainer, oldRating, productId, {
              newCount: oldCount,
            });
            renderStars(myStarsContainer, oldRating, productId, {
              newCount: oldCount,
            });
            alert('No se pudo actualizar la calificación. Intenta de nuevo.');
          });
      }

      for (const star of stars.children) {
        star.addEventListener('click', Vota);
      }
    });


  </script>

</main>
{% endblock %}